name: CI
on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        jdk: [8]
        python: [3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@master
      - uses: coursier/cache-action@v6.3
      - uses: coursier/setup-action@v1
        with:
          jvm: ${{ matrix.jdk }}
          apps: sbtn
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Unit tests
        run: sbt +test
        shell: bash
      - name: Integration tests again latest ScalaPy stable
        run: scripts/integration_test.sh python3 0.5.1
        shell: bash
      - name: Test virtualenv
        run: scripts/virtualenv_test.sh 0.5.1
